.current {
    background-color: orange;
}

.masthead {
    color: $white;
    padding: 1em;
    background: #000531 url("../img/nebula.jpg") no-repeat center center;
    background-size: cover;
}

.masthead-planets {
    background-image: url("../img/nebula-2.jpg");
}

.nav-top {
    list-style-type: none;
}
