<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if page.title %}
				{{page.title}} -
			{% endif %}
			{{site.name}}
			{% if page.after-title %}
				- {{page.after-title}}
			{% endif %}
		</title>
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.css">
	</head>
	<body>
		{{content}}
		<script src="{{site.baseurl}}/assets/js/app.js"></script>
	</body>
</html>
